<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/resources/css/header.css">
<link rel="stylesheet" href="/resources/css/main.css">
<link rel="stylesheet" href="/resources/css/footer.css">
<head>
<meta charset="UTF-8">
<title>운동영상(상세)</title>
</head>
<body>
<div th:fragment="menu" th:replace="include/header :: menu"></div>
	
	
	
	<nav class="navigation">
		<a href="/video">운동영상</a>
		<a href="#">자유게시판</a>
		<a href="#">밀키트</a>
		<a href="#">헬스장정보</a>
		<a href="#">마이페이지</a>
	</nav>
	
	<div class="">
		<table>
			<tr>
				<td th:text="${video.subject}"></td>
			</tr>
			<tr>
				<td th:text="${#calendars.format(video.reg_date,'yyyy-MM-dd')}"></td>
				<th>조회수</th>
				<td th:text="${video.read_cnt}"></td>
			</tr>
		</table>
		
		<iframe width="700" height="400" th:src="${video.url}" title="YouTube video player" frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
		<pre>[[${video.content}]]</pre>
		
	
		<th:block th:if="${session.user.name == 'admin'}">
		<a th:href="@{/videoupdate?(vidx=${video.vidx},page=${page},category=${video.category})}"><button type="button">수정</button></a>
		<a th:href="@{/videodelete?(vidx=${video.vidx},page=${page})}"><button type="button">삭제</button></a>
		</th:block>
		
		<a th:href="@{/video?(page=${page})}"><button type="button">목록</button></a>
	</div>
	
<div th:fragment="footer" th:replace="include/footer :: footer"></div>	<!-- footer include 할 예정 -->
</body>
</html>