<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>장바구니</title>
</head>
<body>
	<h1>장바구니</h1>
	<a href="/">홈으로</a>
	<div th:each="kit, i : ${session.cart}">
		<div th:text="|밀키트${i.index+1}|"></div>
		<div th:text="|${kit.price}원|"></div>
		<ul th:each="vo : ${kit.list}">
			<li>
				<span th:text="${vo.name}"></span>
				<span th:text="${vo.price}"></span>
			</li>
		</ul>
	</div>
	<div th:each="kit, i : ${session.cart_set}">
		<div th:text="${kit.name}"></div>
		<div th:text="|${kit.price}원|"></div>
		<ul th:each="vo : ${kit.list}">
			<li>
				<span th:text="${vo.name}"></span>
				<span th:text="${vo.price}"></span>
			</li>
		</ul>
	</div>
	<button onclick="order()">주문하기</button>
</body>

<script type="text/javascript">
	const order = function(){
		window.location.href="/mealkit/order?type=1";
	}
</script>
</html>